@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
    flex-direction: column;
}

button { 
    border: 2px solid rgb(164, 151, 180);
    border-radius: 5px;
    background-color: rgb(12, 43, 110);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

#todo{
    color: white;    
}

input[type="text"] {
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid white;
    font-weight: bold;
}

#tasks {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-weight: bold;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  :checked + label {
    text-decoration: line-through;
    color: grey;
  }
  